body {
    background-color: black;
    font-family: system-ui, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./assest/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.hearts-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Prevents interaction */
}

.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    transform: rotate(-45deg);
    animation: fall linear infinite;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

.heart::before {
    top: -10px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 10px;
}

@keyframes fall {
    to {
        transform: translateY(100vh) rotate(-45deg);
        opacity: 0;
    }
}
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    background-color: #000000;
}

.text {
    font-size: 70px;
    position: relative;
    overflow: hidden;
    display: block;
    color: #fff;
    text-transform: uppercase;
}

.text::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    animation: animation-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.text::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #D8D8D8;
    animation: animation-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

@keyframes animation-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes animation-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}
